<template>
  <div class="participants" v-if="isGroupCall">
    <div class="header">Group call with:</div>
    <vuescroll :ops="{ bar: { background: '#0F58D11A' } }" class="list">
      <div class="list">
        <div
          class="participant"
          v-for="participant in participants"
          :key="participant.phone"
        >
          {{ participant.phone
          }}<span v-if="participant.name"> {{ participant.name }}</span
          >;
        </div>
      </div>
    </vuescroll>
  </div>
</template>

<script>
import _ from "lodash";
import { mapGetters } from "vuex";
import vuescroll from "vuescroll";

export default {
  name: "PhoneCallParticipants",
  components: { vuescroll },
  computed: {
    ...mapGetters([
      "call",
      "userExten",
      "userByPhone",
      "currentUser",
      "callNumber",
    ]),
    isGroupCall() {
      return _.size(this.participants) >= 3;
    },
    participants() {
      return _.map(this.call.participants, (phone) => {
        let name = this.userByPhone(phone)?.name;
        if (phone === this.userExten) name = "(you)";
        return {
          phone,
          name,
        };
      });
    },
  },
};
</script>

<style scoped lang="sass">
.participants
  height: 100%
  padding-top: 10px

  .header
    color: #C4C9D1
  .list
    display: flex
    flex-wrap: wrap
    padding-top: 10px
    max-height: 60px


    .participant:not(:first-child)
      padding-left: 5px
</style>
