<template>
  <button
    v-on="$listeners"
    :disabled="disabled"
    :class="['button', variantClass, disabledClass, sizeClass, activeClass]"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: "Button",
  props: {
    variant: {
      type: String,
      default: "primary",
    },
    size: {
      type: String,
      default: "m",
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    active: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    variantClass() {
      return {
        primary: "button_primary",
        secondary: "button_secondary",
        "secondary-light": "button_secondary_light",
        success: "button_success",
        danger: "button_danger",
        switch: "button_switch",
      }[this.variant];
    },
    disabledClass() {
      return this.disabled ? "button_disabled" : "";
    },
    activeClass() {
      return this.active ? "button_active" : "";
    },
    sizeClass() {
      return {
        m: "button_size_m",
        ms: "button_size_ms",
        s: "button_size_s",
        auto: "button_size_auto",
      }[this.size];
    },
  },
};
</script>

<style scoped lang="sass">
.button
  border: none
  border-radius: 3px
  color: white
  height: 30px
  transition: all .15s
  font-size: 14px
  font-weight: bold

  &_switch
    background: white
    color: #47505F
    text-transform: uppercase
    padding: 10px 20px
    height: 40px
    border-radius: 10px

    &:hover,
    &.button_active
      background: #0F58D11A
      color: #0F58D1

  &_secondary
    background: #EEF2F5
    color: #47505F

    &:hover
      background: #f3f4f5

    &_light
      background: white
      border: 1px solid #EEF2F5
      color: #47505F

      &:hover
        background: #EEF2F5

  &_success
    background: transparent linear-gradient(270deg, #73AB24 0%, #8DC338 100%) 0% 0% no-repeat padding-box

    &:hover
      background: linear-gradient(#8DC338,#8DC338)

  &_danger
    background: #DC3545 0% 0% no-repeat padding-box

    &:hover
      background: #E65462 0% 0% no-repeat padding-box

  &_size_m
    width: 140px

  &_size_ms
    width: 100px

  &_size_s
    width: 85px

  &_size_auto
    width: auto

  &_disabled,
  &_disabled:hover
    cursor: default
    background: linear-gradient(#C4C9D1,#C4C9D1)
</style>
