<template>
  <div :class="['user-selector', { locked }]">
    <input
      v-model="inputValue"
      type="text"
      class="number"
      v-focus="true"
      :disabled="locked"
      @input="$emit('input', inputValue)"
    />
    <transition name="fade">
      <div class="users-list-wrap" v-show="userSelectorShown">
        <div class="user-list">
          <div
            class="user"
            v-for="user in matchedUsers"
            :key="user.id"
            @click="onMatchedUserClick(user.id)"
          >
            {{ user.name }}
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { focus } from "vue-focus";
import _ from "lodash";

export default {
  name: "PhoneDisplay",
  directives: { focus },
  mounted() {
    this.inputValue = this.value;
  },
  props: {
    value: {
      type: String,
      default: "",
    },
    locked: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      inputValue: "",
      maxSearchCount: 5,
      userSelectorShown: false,
      matchedUsers: [],
    };
  },
  methods: {
    searchUsers() {
      const usersFound = this.userSearch(this.inputValue);
      this.matchedUsers = usersFound.slice(0, this.maxSearchCount);
    },
    closeMatchedUsers() {
      this.userSelectorShown = false;
    },
    openMatchedUsers() {
      this.userSelectorShown = true;
    },
    onMatchedUserClick(id = 0) {
      this.$emit("userSelected", id);
      this.closeMatchedUsers();
    },
  },
  computed: {
    ...mapGetters(["userSearch", "userById"]),
    foundUsers() {
      return this.userSearch(this.number);
    },
    filteredNum() {
      if (this.inputValue.match(/[^0-9#*+]/g)) return "";
      return this.inputValue;
    },
  },
  watch: {
    value() {
      this.inputValue = this.value;
    },
    inputValue(now, was) {
      this.searchUsers();
      if (!was && now) this.openMatchedUsers();
    },
    matchedUsers() {
      if (_.isEmpty(this.matchedUsers)) this.closeMatchedUsers();
    },
  },
};
</script>

<style lang="sass" scoped>
$height: 30px

.user-selector
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  height: $height
  font-size: 26px
  padding: 5px
  background: #EEF2F5
  border-radius: 3px
  position: relative

  &.locked
    background: #C4C9D1

  .number
    outline: none
    border: none
    width: 100%
    height: 100%
    background: transparent
    color: #47505F

  .users-list-wrap
    width: 100%
    position: absolute
    top: $height
    background: #ffffff 0% 0% no-repeat padding-box
    box-shadow: 0 0 20px #0F58D11A
    border-radius: 3px
    padding: 10px
    z-index: 1000

    .user-list
      overflow: auto
      font-size: 14px

      .user
        cursor: pointer


.fade-enter-active, .fade-leave-active
  transition: opacity .2s

.fade-enter, .fade-leave-to
  opacity: 0
</style>
