<template>
  <vuescroll :ops="{ bar: { background: '#0F58D11A' } }">
    <TreeUserSelectorRow
      v-if="companyStructure"
      class="structure"
      :data="companyStructure"
      :root="true"
      @itemClicked="$emit('userSelected', $event.meta.id)"
    ></TreeUserSelectorRow>
  </vuescroll>
</template>

<script>
import _ from "lodash";
import TreeUserSelectorRow from "./TreeUserSelectorRow";
import { mapGetters } from "vuex";
import vuescroll from "vuescroll";

export default {
  name: "TreeUserSelector",
  components: { TreeUserSelectorRow, vuescroll },
  data() {
    return {
      rawStructure: {},
    };
  },
  props: {
    active: {
      type: Boolean,
      default: true,
    },
  },
  async mounted() {
    // load data
    await this.loadCompanyStructure();
    if (this.active)
      this.$superGlobalEventBus.emit("sipphone:users:track.presence");
  },

  methods: {
    /**
     * Load b24 company structure
     * @returns {Promise<void>}
     */
    async loadCompanyStructure() {
      const response = await this.$b24.Request.create(
        "companyStructure"
      ).execute();
      this.rawStructure = response.data;
    },
  },

  computed: {
    ...mapGetters(["userById", "userIsOnline"]),
    companyStructure() {
      const self = this,
        raw = _.clone(this.rawStructure);

      function formatNode(node) {
        const res = {
          id: node.id,
          text: node.name,
          nodes: [],
        };

        // sub depts
        _.each(node.sub, (subNode) => {
          const preparedChildNode = formatNode(subNode);
          preparedChildNode && res.nodes.push(preparedChildNode);
        });

        // exclude empty departments
        if (!_.size(node.users) && !_.size(node.sub)) return null;

        // users
        _.each(node.users, ({ id }) => {
          const user = self.userById(id);
          res.nodes.push({
            id: user.id,
            text: user.name,
            status: _.get(user, "presenceStatus.code", "unknown"),
            disabled: !self.userIsOnline(id),
            meta: {
              id: user.id,
              phone: user.phone,
            },
          });
        });

        return res;
      }

      const res = formatNode(raw);

      return res;
    },
  },

  watch: {
    active() {
      this.$log.info(`Active state changed`, this.active);
      if (this.active)
        this.$superGlobalEventBus.emit("sipphone:users:track.presence");
    },
  },
};
</script>

<style lang="sass" scoped>
.selector
  height: 100%

  display: flex
  flex-flow: column

  .search
    background: #0F58D11A 0% 0% no-repeat padding-box
    border-radius: 3px
    opacity: 1
    outline: none
    width: 100%
    height: 30px
    border: none
    padding: 0 10px
    flex: 0 0 30px

  .structure
    margin-top: 15px

    ::v-deep>ul
      padding-left: 0
</style>
