<template>
  <div
    :class="['user-selector', { locked }]"
    @keyup.enter="ableToTransfer && $emit('transferBtnClick', inputValue)"
  >
    <input
      v-model="inputValue"
      type="text"
      :class="['number', { numberOverflow }]"
      v-focus="true"
      :maxlength="maxInputLen"
      :disabled="locked"
      @input="$emit('input', inputValue)"
      @paste.prevent="onPaste"
    />
    <div
      @click.prevent="$emit('transferBtnClick', inputValue)"
      v-if="hasTransferBtn"
      :class="[
        'button-transfer',
        { 'button-transfer__visible': ableToTransfer },
      ]"
    >
      <img src="@/assets/images/icons/icon-outcome-call.svg" />
    </div>
    <transition name="fade" v-if="!locked">
      <div class="users-list-wrap" v-show="userSelectorShown">
        <div class="user-list">
          <div
            :class="['user', `status-${userPresenceStatus(user)}`]"
            v-for="user in matchedUsers"
            :key="user.id"
            @click="onMatchedUserClick(user.id)"
          >
            <div class="dot"></div>
            <div class="name">{{ user.name }}</div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { focus } from "vue-focus";
import _ from "lodash";

export default {
  name: "PhoneDisplay",
  directives: { focus },
  mounted() {
    this.inputValue = this.value;
  },
  props: {
    value: {
      type: String,
      default: "",
    },
    locked: {
      type: Boolean,
      default: false,
    },
    hasTransferBtn: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      inputValue: "",
      maxSearchCount: 5,
      userSelectorShown: false,
      matchedUsers: [],
    };
  },
  methods: {
    userPresenceStatus(user = {}) {
      return _.get(user, "presenceStatus.code", "unknown");
    },
    searchUsers() {
      const usersFound = this.userSearch(this.inputValue);
      this.matchedUsers = usersFound.slice(0, this.maxSearchCount);
    },
    closeMatchedUsers() {
      this.userSelectorShown = false;
    },
    openMatchedUsers() {
      this.userSelectorShown = true;
    },
    onMatchedUserClick(id = 0) {
      this.$emit("userSelected", id);
      this.closeMatchedUsers();
    },
    onPaste(event) {
      const raw = (event.clipboardData || window.clipboardData).getData("text");

      let filtered = raw;
      filtered = this.filterUKNumber(filtered);
      if (filtered[0] === "+")
        filtered = "+" + filtered.replaceAll(/[^0-9]/g, "");
      else filtered = filtered.replaceAll(/[^0-9+]/g, "");

      this.$emit("input", filtered);
    },

    /**
     *  Filter number according to UK numbers specificity
     *  replace zeroes in parentheses: 8 (00) 047 -> 8 047
     *  replace parentheses: 8 (926) 047 -> 8 926 047
     *  replace 2 leading zeroes with plus: 00 0926 047 -> + 0926 047
     */
    filterUKNumber(raw = "") {
      let res = raw;
      res = res.replaceAll(/\(0+\)/g, "");
      res = res.replaceAll(/\(|\)/g, "");
      if (res.startsWith("00")) res = res.replace("00", "+");
      return res;
    },
  },
  computed: {
    ...mapGetters(["userSearch", "userById"]),
    foundUsers() {
      return this.userSearch(this.number);
    },
    filteredNum() {
      if (this.inputValue.match(/[^0-9#*+]/g)) return "";
      return this.inputValue;
    },
    numberLength() {
      return this.inputValue.length || 0;
    },
    numberOverflow() {
      return this.numberLength > (this.hasTransferBtn ? 10 : 12);
    },
    ableToTransfer() {
      return this.numberLength >= 4;
    },
    maxInputLen() {
      return this.hasTransferBtn ? 23 : 26;
    },
  },
  watch: {
    value() {
      this.inputValue = this.value;
    },
    inputValue(now, was) {
      this.searchUsers();
      if (!was && now) this.openMatchedUsers();
    },
    matchedUsers() {
      if (_.isEmpty(this.matchedUsers)) this.closeMatchedUsers();
    },
    async userSelectorShown(now) {
      if (now) this.$superGlobalEventBus.emit("sipphone:users:track.presence");
    },
  },
};
</script>

<style lang="sass" scoped>
$height: 30px
$dot-size: 8px

.user-selector
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  height: $height
  font-size: 26px
  padding: 5px
  background: #EEF2F5
  border-radius: 3px
  position: relative

  .button-transfer
    display: flex
    position: absolute
    width: 20px
    background-color: #73AB24
    padding: 2px
    right: 5px
    opacity: 0
    transition: all .1s
    cursor: pointer
    border-radius: 4px
    transform: scale(0.5)

    &__visible
      opacity: 1
      transform: scale(1)

    img
      width: 100%




  &.locked
    background: #C4C9D1

  .number
    outline: none
    border: none
    width: 100%
    height: 100%
    background: transparent
    color: #47505F
    font-size: 14px

    &.numberOverflow
      font-size: 12px

  .users-list-wrap
    width: 100%
    position: absolute
    top: $height
    background: #ffffff 0% 0% no-repeat padding-box
    box-shadow: 0 0 20px #0F58D11A
    border-radius: 3px
    padding: 10px
    z-index: 1000

    .user-list
      overflow: auto
      font-size: 14px
      padding: 0 10px

      .user
        display: flex
        cursor: pointer
        margin-top: 10px
        height: 20px
        align-items: center

        &:first-child
          margin-top: 0

      .dot
        margin-right: 5px
        width: $dot-size
        height: $dot-size
        border-radius: $dot-size

      .status

        &-busy
          .dot
            background-color: #F39F39

        &-online
          .dot
            background-color: #73AB24

        &-offline,
        &-unknown
          .dot
            background-color: #C4C9D1
          .name
            color: #C4C9D1


.fade-enter-active, .fade-leave-active
  transition: opacity .2s

.fade-enter, .fade-leave-to
  opacity: 0
</style>
